/.DS_Store
/CMakeLists.txt
/VoiceInstrument.cpp
/VoiceInstrument.h
/android
/bridge
/iOS
/resources_gfx
/resources_other
/resources_sounds
/resources_video
/shaders
/unused_instruments
/yossCommonConfig.h
/yossCommon/bridge
/yossCommon/common
/yossCommon/graphics
/yossCommon/iap
/yossCommon/iOS
yossCommon/.DS_Store
